* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(17, 45, 66, 1);
  --secondary-color: rgba(167, 189, 200, 1);
  --supporting-color: rgba(245, 123, 89, 1);
}

body {
  background-image: url(./images/Wallpaper\ light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.5em;
}

/** Nav section */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

.nav-inner {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  border: 1px solid lightsalmon;
}

.logo {
  width: 70px;
  height: 70px;
  border: 1px solid lightsalmon;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn {
  width: 75px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.theme {
  margin-right: 1.5rem;
  border: 1px solid lightsalmon;
}

.theme-img {
  width: 20px;
  height: 20px;
}

/** header sect */
header {
  text-align: center;
  font-size: 2.5em;
  margin-top: 4rem;
}

/** intro section */
.intro-cont,
.feel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro {
  max-width: 550px;
  margin-top: 2rem;
  font-size: 1em;
  text-align: center;
}

.feel p {
  max-width: 200px;
  margin-top: 4rem;
  text-align: center;
  font-size: 2em;
}

.decn,
.decn-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.decn-inner {
  width: 500px;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  background-color: antiquewhite;
}

.decn-box {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
