* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(17, 45, 66, 1);
  --secondary-color: rgba(167, 189, 200, 1);
  --supporting-color: rgba(245, 123, 89, 1);
}

body {
  background-image: url(./images/Wallpaper\ light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.5em;
}

/** Nav section */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

.nav-inner {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  border: 1px solid lightsalmon;
}

.logo {
  width: 70px;
  height: 70px;
  border: 1px solid lightsalmon;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn {
  width: 100px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  border-radius: 0.5rem;
}

.theme {
  margin-right: 1.5rem;
  border: 1px solid lightsalmon;
}

.theme-img {
  width: 20px;
  height: 20px;
}

/** header sect */
header {
  text-align: center;
  font-size: 2.5em;
  margin-top: 4rem;
}

/** intro section */
.intro-cont,
.feel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro {
  max-width: 550px;
  margin-top: 2rem;
  font-size: 1em;
  text-align: center;
}

.feel p {
  max-width: 200px;
  margin-top: 4rem;
  text-align: center;
  font-size: 2em;
}

/** decision section  */
.decn,
.decn-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.decn {
  margin-top: 2rem;
}

.decn-inner {
  width: 650px;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  background-color: antiquewhite;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

.decn-box {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.decn-box button {
  margin-top: 1rem;
  width: 100px;
  height: 30px;
  border-radius: 1rem;
  font-size: 0.6em;
}

/** Modal section */
.modal-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightsalmon;
  z-index: 999;
}

.modal {
  width: 750px;
  height: 250px;
  margin: auto;
  background-color: lightgreen;
}

.mc1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mc1-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: lightseagreen;
}

#mc1-close {
  width: 30px;
  height: 30px;
  margin: 0.5rem 1rem 0 0;
}

.mc2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#quote {
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  background-color: antiquewhite;
}

.mc3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: lightslategray;
}

#author {
  margin: 2rem 1rem 0 0;
  background-color: lightcoral;
  padding: 1rem;
}

/** footer section */
footer {
  position: absolute;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  text-align: center;
  background-color: lightcoral;
}
