body {
  background-image: url(../images/Wallpaper\ light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.5em;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.right {
  width: 540px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: antiquewhite; */
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.left {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 4rem;
}

.left h1 {
  font-size: 2.8em;
  font-family: var(--header-font);
}

.content-about {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.8s ease-in, transform 0.8s ease-in;
}

.content-about.visible {
  opacity: 1;
  transform: translateX(0);
}

.content-right {
  opacity: 0;
  transform: translateY(-22px);
  transition: opacity 0.8s ease-in, transform 0.8s ease-in;
}

.content-right.visible {
  opacity: 1;
  transform: translateY(0);
}

.left a {
  font-size: 1.2em;
  color: var(--primary-color);
  font-weight: 700;
}
